<div class="accordion" id="character-accordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#first-character" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        {{firstCharacter.name}}
      </button>
    </h2>
    <div id="first-character" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{firstCharacter.description}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#second-character" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        {{secondCharacter.name}}
      </button>
    </h2>
    <div id="second-character" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{secondCharacter.description}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#third-character" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        {{thirdCharacter.name}}
      </button>
    </h2>
    <div id="third-character" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{thirdCharacter.description}}
      </div>
    </div>
  </div>
</div>