<div class="accordion" id="quest-accordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#first-quest" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        {{firstQuest.name}}
      </button>
    </h2>
    <div id="first-quest" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{firstQuest.description}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#second-quest" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        {{secondQuest.name}}
      </button>
    </h2>
    <div id="second-quest" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{secondQuest.description}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#third-quest" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        {{thirdQuest.name}}
      </button>
    </h2>
    <div id="third-quest" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{thirdQuest.description}}
      </div>
    </div>
  </div>
</div>