<div class="accordion" id="rule-accordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#first-rule" aria-expanded="false" aria-controls="first-rule">
        {{firstRule.title}}
      </button>
    </h2>
    <div id="first-rule" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{firstRule.description}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#second-rule" aria-expanded="false" aria-controls="second-rule">
        {{secondRule.title}}
      </button>
    </h2>
    <div id="second-rule" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{secondRule.description}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#third-rule" aria-expanded="false" aria-controls="third-rule">
        {{thirdRule.title}}
      </button>
    </h2>
    <div id="third-rule" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{thirdRule.description}}
      </div>
    </div>
  </div>
</div>