<div class="accordion" id="story-accordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#first-story" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
        {{firstStory.name}}
      </button>
    </h2>
    <div id="first-story" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{firstStory.description}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#second-story" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
        {{secondStory.name}}
      </button>
    </h2>
    <div id="second-story" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{secondStory.description}}
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#third-story" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
        {{thirdStory.name}}
      </button>
    </h2>
    <div id="third-story" class="accordion-collapse collapse">
      <div class="accordion-body">
        {{thirdStory.description}}
      </div>
    </div>
  </div>
</div>