{{#each characterDataPlain as |characters|}}
<a href="/characters/{{characters.id}}" style="text-decoration: none;">
    <div class="card character-card">             
        <div style="display: flex; flex-direction: row; justify-content: space-around">
            <h3 style="color: red;">{{characters.name}}</h3>
            <a href="/users/{{characters.author}}" style="text-decoration: none; color: red;">
                <h3>Created by: {{characters.author}}</h3>
            </a>
        </div>
        <p>{{characters.description}}</p>
    </div>
</a>
{{/each}}