{{#each rulesDataPlain as |rule|}}
<a href="/quests/{{rule.id}}" style="text-decoration: none;">
    <div class="card character-card">             
        <div style="display: flex; flex-direction: row; justify-content: space-around">
            <h3 style="color: red;">{{rule.category}}</h3>
            <a href="/users/{{rule.author}}" style="text-decoration: none; color: red;">
                <h3>Created by: {{rule.author}}</h3>
            </a>
        </div>
        <p>{{rule.description}}</p>
    </div>
</a>
{{/each}}