  <div id="hidden-content" data-for="story" data-key="{{story.id}}"></div>
  <main>
        <div class="card">
            <section id="singlestoryheader">
                <h2>
                    Story Submission
                </h2>
            </section >

            <section id="singlestorysection">
                <h3>{{story.name}}</h3>
                <p>By: {{story.author}}</p>
            </section>

            <section>
                <h3>Story Components:</h3>
                <ul>
                    <li>World: {{story.world}}</li>
                    <li>Main Villain: {{story.main_villain}}</li>
                    <li>Potential Factions: {{story.potential_factions}}</li>
                    <li>Recommended Levels: {{story.levels}}</li>
                </ul>
            </section>
            
            <section>


             <h3>Description:</h3>
             <p>{{story.description}}</p>

            </section>

            <section class="comment-section">
                <h3>Comments</h3>
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add-comment" style="display: block; margin: 0 auto;">Add your own comment!</button>
                {{> comments}}
            </section>

            {{> comment-modal}}

             
        </div>
        
    </main>