<div id="hidden-content" data-for="stories" data-key="{{story.id}}"></div>

{{!-- If the user authored the story, add these buttons --}}
{{#if canEdit}}
<div style="display: flex; flex-direction: row; justify-content: space-evenly; margin-bottom: 20px;">
    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#edit-story">Edit this Story</button>
    <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete this Story</button>
</div>
{{/if}}

<div class="card content-card">
    <header class="card-header" style="text-align: center;">
        <h3 id="name">{{story.name}}</h3>
    </header>
    <div class="card-body">
        <section style="text-align: center;">
            <h4>Description:</h4>
            <p id="description">{{story.description}}</p>
        </section>
        <section>
            <h4 style="text-align: center; margin-top: 40px;">Story Components:</h4>
            <div style="display: flex; flex-direction: row; flex-wrap: wrap; justify-content: center;">
                <div class="card" style="width: 40%; padding: 5px; margin: 2%; text-align: center;">
                    <h5>World:</h5>
                    <p id="world">{{story.world}}</p>
                </div>
                <div class="card" style="width: 40%; padding: 5px; margin: 2%; text-align: center;">
                    <h5>Main Villain:</h5>
                    <p id="villain">{{story.main_villain}}</p>
                </div>
                <div class="card" style="width: 40%; padding: 5px; margin: 2%; text-align: center;">
                    <h5>Potential Factions:</h5>
                    <p id="factions">{{story.potential_factions}}</p>
                </div>
                <div class="card" style="width: 40%; padding: 5px; margin: 2%; text-align: center;">
                    <h5>Recommended Levels:</h5>
                    <p id="levels">{{story.levels}}</p>
                </div>
            </div>
        </section>
    </div>
    <footer class="card-footer" style="text-align: center">
        <a href="/users/{{story.author}}" style="text-decoration: none; color: black;">
            <p>Created by: {{story.author}}</p>
        </a>
    </footer>
</div>

<section style="margin-top: 20px; display: flex; flex-direction: column; justify-content: center;" class="comment-section card">
  <h3 style="text-align: center; margin-top: 20px;">Comments</h3>
  <button class="btn btn-danger comment-btn" data-bs-toggle="modal" data-bs-target="#add-comment">Add your own comment!</button>
  {{!-- Add the comment partial --}}
  {{> comments}}
</section>

{{!-- Add the add-comment modal --}}
{{> comment-modal}}

{{!-- If the user authored the story, add these modals --}}
{{#if canEdit}}
{{> edit-story-modal}}
{{> delete-modal}}
{{/if}}