  <div id="hidden-content" data-for="stories" data-key="{{story.id}}"></div>
  <main>

{{#if canEdit}}
<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#edit-story">Edit this Story</button>
<button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete this Story</button>
{{/if}}

        <div class="card">
            <section id="singlestoryheader">
                <h2>
                    Story Submission
                </h2>
            </section >

            <section id="singlestorysection">
                <h3 id="name">{{story.name}}</h3>
                <p>By: {{story.author}}</p>
            </section>

            <section>
                <h3>Story Components:</h3>
                <ul>
                    <li>World: <div id="world">{{story.world}}</div></li>
                    <li>Main Villain: <div id="villain">{{story.main_villain}}</div></li>
                    <li>Potential Factions: <div id="factions">{{story.potential_factions}}</div></li>
                    <li>Recommended Levels: <div id="levels">{{story.levels}}</div></li>
                </ul>
            </section>
            
            <section>


             <h3>Description:</h3>
             <p id="description">{{story.description}}</p>

            </section>

            <section class="comment-section">
                <h3>Comments</h3>
                <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add-comment" style="display: block; margin: 0 auto;">Add your own comment!</button>
                {{> comments}}
            </section>

            {{> comment-modal}}

             
        </div>
        
    </main>

{{#if canEdit}}
{{> edit-story-modal}}
{{> delete-modal}}
{{/if}}