<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{quest.name}} - Quest Details</title>
    <link rel="stylesheet" href="/css/style.css"> 
</head>
<body>
    <header>
        <h1>{{quest.name}}</h1>
        <p>Created by: <a href="/users/{{quest.author}}" style="text-decoration: none;">{{quest.author}}</a></p>
    </header>
<main>
    <section>
            <h2>Description</h2>
            <p>{{quest.description}}</p>
        </section>
        <section>
            <h3>Quest Giver</h3>
            <p>{{quest.quest_giver}}</p>
        </section>
        <section>
            <h3>Quest Class</h3>
            <p>{{quest.class}}</p>
        </section>
        <section>
            <h3>Quest Skills</h3>
            <p>{{quest.skills}}</p>
        </section>
        <section>
            <h3>Quest Race</h3>
            <p>{{quest.race}}</p>
        </section>
        <section>
            <h3>Quest Alignment</h3>
            <p>{{quest.alignment}}</p>
        </section>
        <section>
            <h3>Quest Strength</h3>
            <p>{{quest.strength}}</p>
        </section>
        <section>
            <h3>Quest Dexterity</h3>
            <p>{{quest.dexterity}}</p>
        </section>
        <section>
            <h3>Quest Constitution</h3>
            <p>{{quest.constitution}}</p>
        </section>
        <section>
            <h3>Quest Intelligence</h3>
            <p>{{quest.intelligence}}</p>
        </section>
        <section>
            <h3>Quest Wisdom</h3>
            <p>{{quest.wisdom}}</p>
        </section>
        <section>
            <h3>Quest Charisma</h3>
            <p>{{quest.charisma}}</p>
        </section>
</main>
</body>
</html>
