    <div id="hidden-content" data-for="character" data-key="{{character.id}}"></div>
    
    <main>
        <div>
            <section id="singlecharheader">
                <h2>
                    Character Submission
                </h2>
            </section>

            <section id="singlecharsec">
              
              <h3>
                {{character.name}}
                <p id="race">Race: {{character.race}}</p>
              </h3>
            

              <h4>Ability Scores:</h4>

              <ul id="abilityscrlist">
                <li>STR:{{character.strength}}</li>
                <li>DEX:{{character.dexterity}}</li>
                <li>CON:{{character.constitution}}</li>
                <li>INT:{{character.intelligence}}</li>
                <li>WIS:{{character.wisdom}}</li>
                <li>CHA:{{character.charisma}}</li>
              </ul>

              <p>
                Description: {{character.description}}
              </p>

              
          

               <p>
                Class: {{character.class}}
              </p>

              <P>
                Skills: {{character.skills}}
              </P>

              <P>
                Alignment: {{character.alignment}}
              </P>
              <a href="/users/{{character.author}}" style="text-decoration: none; color: black;">
                <p>
                  Created by: {{character.author}}
                </p>
              </a>
            </section>
            

          

    
        </div>
        
    </main>

    <section class="comment-section">
      <h3>Comments</h3>
      <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add-comment" style="display: block; margin: 0 auto;">Add your own comment!</button>
      {{> comments}}
    </section>

{{> comment-modal}}
