    <div id="hidden-content" data-for="characters" data-key="{{character.id}}"></div>
    
    <main>
        <div>
            <section id="singlecharheader">
                <h2>
                    Character Submission
                </h2>
            </section>
            {{#if canEdit}}
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#edit-character">Edit this Character</button>
            <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete this Character</button>
            {{/if}}
            <section id="singlecharsec">
              
              <h3 id="name">{{character.name}}</h3>
              <p>Race: <div id="race">{{character.race}}</div></p>
            

              <h4>Ability Scores:</h4>

              <ul id="abilityscrlist">
                <li>STR:<div id="strength">{{character.strength}}</div></li>
                <li>DEX:<div id="dexterity">{{character.dexterity}}</div></li>
                <li>CON:<div id="constitution">{{character.constitution}}</div></li>
                <li>INT:<div id="intelligence">{{character.intelligence}}</div></li>
                <li>WIS:<div id="wisdom">{{character.wisdom}}</div></li>
                <li>CHA:<div id="charisma">{{character.charisma}}</div></li>
              </ul>

              <p>
                Description: <div id="description">{{character.description}}</div>
              </p>

              
          

               <p>
                Class: <div id="class">{{character.class}}</div>
              </p>

              <P>
                Skills: <div id="skills">{{character.skills}}</div>
              </P>

              <P>
                Alignment: <div id="alignment">{{character.alignment}}</div>
              </P>
              <a href="/users/{{character.author}}" style="text-decoration: none; color: black;">
                <p>
                  Created by: {{character.author}}
                </p>
              </a>
            </section>
            

          

    
        </div>
        
    </main>

    <section class="comment-section">
      <h3>Comments</h3>
      <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add-comment" style="display: block; margin: 0 auto;">Add your own comment!</button>
      {{> comments}}
    </section>

{{> comment-modal}}

{{#if canEdit}}
{{> edit-character-modal}}
{{> delete-modal}}
{{/if}}