    <main>
        <div>
            <section>
                <h2>
                    Recent Character Submissions
                </h2>
            </section>

            {{#each character as |Characters|}}
            <section>
              
              <h3>
                {{Characters.name}}
                <p>Race: {{Characters.race}}</p>
              </h3>
              <p>
                Created by: {{Characters.author}}
              </p>

              <p>
                Description: {{Characters.description}}
              </p>
              <ul>
                <li>STR:{{Characters.strength}}</li>
                <li>DEX:{{Characters.dexterity}}</li>
                <li>CON:{{Characters.constitution}}</li>
                <li>INT:{{Characters.intelligence}}</li>
                <li>WIS:{{Characters.wisdom}}</li>
                <li>CHA:{{Characters.charisma}}</li>
              </ul>

               <p>
                Class: {{Characters.class}}
              </p>

              <P>
                Skills: {{Characters.skills}}
              </P>

              <P></P>
                Alignment: {{Characters.alignment}}
              </P>

            </section>
            {{/each}}

          

    
        </div>
        
    </main>

