<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{quest.name}} - Quest Details</title>
    <link rel="stylesheet" href="/public/css/style.css"> 
</head>
<body>
    <header>
        <h1>{{quest.name}}</h1>
        <p>Created by: <a href="/users/{{quest.author}}" style="text-decoration: none;">{{quest.author}}</a></p>
    </header>
<main>
    <section>
        <h2>Description</h2>
        <p>{{quest.description}}</p>
    </section>
    <section>
        <h3>Quest giver</h3>
        <p>{{quest.quest_giver}}</p>
    </section>
    <section>
        <h4>Quest class</h4>
        <p>{{quest.class}}</p>
    </section>
    <section>
        <h5>Quest skills</h5>
        <p>{{quest.skills}}</p>
    </section>
    <section>
        <h6>Quest race</h6>
        <p>{{quest.race}}</p>
    </section>
    <section>
        <h7>Quest alignment</h7>
        <p>{{quest.alignment}}</p>
    </section>
    <section>
        <h8>Quest strength</h8>
        <p>{{quest.strength}}</p>
    </section>
    <section>
        <h9>Quest dexterity</h9>
        <p>{{quest.dexterity}}</p>
    </section>
    <section>
        <h10>Quest constitution</h10>
        <p>{{quest.constitution}}</p>
    </section>
    <section>
        <h11>Quest intelligence</h11>
        <p>{{quest.intelligence}}</p>
    </section>
    <section>
        <h12>Quest wisdom</h13>
        <p>{{quest.wisdom}}</p>
    </section>
    <section>
        <h14>Quest charisma</h14>
        <p>{{quest.charisma}}</p>
    </section>
</main>
</body>
</html>
