<div id="hidden-content" data-for="quests" data-key="{{quest.id}}"></div>

{{#if canEdit}}
<div style="display: flex; flex-direction: row; justify-content: space-evenly; margin-bottom: 20px;">
      <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#edit-quest">Edit this Quest</button>
      <button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#delete-modal">Delete this Quest</button>
    </div>
{{/if}}

<div class="card content-card">
        <header class="card-header">
            <h3 style="text-align: center;" id="name">{{quest.name}}</h3>
        </header>

        <div style="text-align: center; padding-top: 20px;">
            <h4>Description</h4>
            <p id="description">{{quest.description}}</p>
        </div>
        <div style="display: flex; flex-direction: row; justify-content: space-evenly; margin-bottom: 20px;">
            <div class="card" style="width: 30%; text-align: center;">
                <h5>Quest Giver</h5>
                <p id="quest-giver">{{quest.quest_giver}}</p>
            </div>
            <div class="card" style="width: 30%; text-align: center;">
                <h5>Quest Location</h5>
                <p id="location">{{quest.location}}</p>
            </div>
            <div class="card" style="width: 30%; text-align: center;">
                <h5>Rewards</h5>
                <p id="rewards">{{quest.rewards}}</p>
            </div>
        </div>
        <footer class="card-footer">
            <p style="text-align: center;">Created by: <a href="/users/{{quest.author}}" style="text-decoration: none; color: black;">{{quest.author}}</a></p>
        </footer>
</div>
<section style="margin-top: 20px; display: flex; flex-direction: column; justify-content: center;" class="comment-section card">
  <h3 style="text-align: center; margin-top: 20px;">Comments</h3>
  <button class="btn btn-danger comment-btn" data-bs-toggle="modal" data-bs-target="#add-comment">Add your own comment!</button>
  {{> comments}}
</section>

{{> comment-modal}}

{{#if canEdit}}
{{> edit-quest-modal}}
{{> delete-modal}}
{{/if}}