{{!-- If a user is logged in, show this button --}}
{{#if loggedIn}}
<button class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#add-story" style="display: block; margin: 0 auto;">
    Create a new Story!
</button>
{{/if}}
{{!-- For every stories in the database, create these elements --}}
{{#each storiesDataPlain as |story|}}
<a href="/stories/{{story.id}}" style="text-decoration: none;">
    <div class="card menu-card">             
        <div style="display: flex; flex-direction: row; justify-content: space-around">
            <h3 style="color: red;">{{story.name}}</h3>
            <a href="/users/{{story.author}}" style="text-decoration: none; color: red;">
                <h3>Created by: {{story.author}}</h3>
            </a>
        </div>
        <p style="text-align: center;">{{story.description}}</p>
    </div>
</a>
{{/each}}

{{!-- If the user is logged in, add this modal --}}
{{#if loggedIn}}
{{> add-story-modal}}
{{/if}}