<div class="card" style="padding: 20px; text-align: center;">
    <h2 id="user" style="text-align: center;" data-user="{{userDataPlain.username}}">Dungeon Master: {{userDataPlain.username}}</h2>
    <h4 style="text-align: center; margin-top: 40px;">Dungeon Master Bio:</h4>
    <p id="current-bio">{{userDataPlain.bio}}</p>
    {{!-- If the user is visiting their own profile, this button is rendered --}}
    {{#if canEdit}}
    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#edit-bio" style="width: 25%; margin: 0 auto;">Edit your bio</button>
    {{/if}}
</div>
<div style="display: flex; flex-direction: rows; flex-wrap: wrap; justify-content: center;">
    <div class="card" style="width: 45%; padding: 2%; margin: 2%; text-align: center;">
        <h4>{{userDataPlain.username}}'s Characters</h4 >
        {{!-- For every character this user has created, render these elements --}}
        {{#each characterDataPlain as |character|}}
        <div class="card" style="padding: 15px;">
            <a href="/characters/{{character.id}}" style="text-decoration: none;">
                <h5 style="color: red;">{{character.name}}</h5>
                <p style="color: black;">{{character.description}}</p>
            </a>
        </div>
        {{/each}}
    </div>
    <div class="card" style="width: 45%; padding: 2%; margin: 2%; text-align: center;">
        <h4>{{userDataPlain.username}}'s Quests</h4>
        {{!-- For every quest this user has created, render these elements --}}
        {{#each questDataPlain as |quest|}}
        <div class="card" style="padding: 15px;">
            <a href="/quests/{{quest.id}}" style="text-decoration: none;">
                <h5 style="color: red;">{{quest.name}}</h5>
                <p style="color: black;">{{quest.description}}</p>
            </a>
        </div>
        {{/each}}
    </div>
    <div class="card" style="width: 45%; padding: 2%; margin: 2%; text-align: center;">
        <h4>{{userDataPlain.username}}'s Stories</h4>
        {{!-- For every story this user has created, render these elements --}}
        {{#each storyDataPlain as |story|}}
        <div class="card" style="padding: 15px;">
            <a href="/stories/{{story.id}}" style="text-decoration: none;">
                <h5 style="color: red;">{{story.name}}</h5>
                <p style="color: black;">{{story.description}}</p>
            </a>
        </div>
        {{/each}}
    </div>
    <div class="card" style="width: 45%; padding: 2%; margin: 2%; text-align: center;">
        <h4>{{userDataPlain.username}}'s Rules</h4>
        {{!-- For every rule this user has created, render these elements --}}
        {{#each ruleDataPlain as |rule|}}
        <div class="card" style="padding: 15px;">
            <a href="/rules/{{rule.id}}" style="text-decoration: none;">
                <h5 style="color: red;">{{rule.category}}</h5>
                <p style="color: black;">{{rule.description}}</p>
            </a>
        </div>
        {{/each}}
    </div>
</div>

{{!-- If the user is visiting their own profile, this modal is added --}}
{{#if canEdit}}
<div class="modal fade" id="edit-bio" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel"> Edit your bio </h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea id="new-bio" style="min-width: 100%; max-width: 100%; margin: 0 auto;"></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-danger" id="save-bio">Save changes</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/edit-bio.js"></script>
{{/if}}